
// 1.Base
@import 'base/functions',
        'base/config',
        'base/mixins',
        'base/presets',
        'base/headings';

// 2.Utils
@import 'utils/clearfix';

// 3.Layout
@import 'layout/default';

// 4.Components
@import 'components/buttons';

body {
  color: blue
}