@font-face {
  font-family: "icons";
  src:url("../fonts/icons/smartsteuer-hauke.eot");
  src:url("../fonts/icons/smartsteuer-hauke.eot?#iefix") format("embedded-opentype"),
    url("../fonts/icons/smartsteuer-hauke.woff") format("woff"),
    url("../fonts/icons/smartsteuer-hauke.ttf") format("truetype"),
    url("../fonts/icons/smartsteuer-hauke.svg#smartsteuer-hauke") format("svg");
  font-weight: normal;
  font-style: normal;
}