// 1.Config

// 2.Base
textarea {
  display: block;
  padding: 0;
  resize: none;
  width: 100%;
  border: none;
  border-bottom: 2px solid #ccc;
  box-shadow: none;
  background: transparent;
  color: #333;
  @include font-size(1.5);
  line-height: 1;
  
  &:focus,
  &:hover,
  &:active {
    outline: 0;
  }
}

.o-form {
  width: 100%;
  
  &--answer {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-left: -20px;
    
    > * {
      margin-left: 20px;
    }
  }
  
  &__answer {
    height: 23px;
  }
  &__sound-record {
    height: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 0;
    z-index: -1;
    background: get-color(unique, white);
    
    &.is-active {
      height: 100%;
      opacity: 1;
      width: 100%;
      z-index: get-index(soundRecord);
    }
  }
  &__sound-input {
    padding: 0;
    cursor: pointer;
    position: relative;
    -webkit-appearance: none;
    border: none;
    box-shadow: none;
    background: transparent;
    @include font-size(0);
    
    &:before {
      @extend %icon-defaults;
      content: get-icon(micro);
      @include font-size(2.4);
    }
    &:after {
      content: '';
      display: block;
      height: 12px;
      opacity: 0;
      border: 3px solid white;
      position: absolute;
      right: -3px;
      top: -5px;
      width: 12px;
      border-radius: $global-rounded-border-radius;
      background: red;
      transition: all .3s ease-in-out;
    }
    &.is-active {
      color: get-color(blue);
    }
    &.is-active:after {
      opacity: 1;
    }
  }
}