.o-popup {
  display: block;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  opacity: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: -1;
  background: rgba(get-color(unique, white), .9);
  
  &.is-active {
    opacity: 1;
    z-index: get-index(popup);
  }
}