<div id="container">

    <div id="meters">
        <div id="instant">
            <div class="label">Instant: </div>
            <meter high="0.25" max="1" value="0"></meter>
            <div class="value"></div>
        </div>
        <div id="slow">
            <div class="label">Slow: </div>
            <meter high="0.25" max="1" value="0"></meter>
            <div class="value"></div>
        </div>
    </div>

    <p>The <code>audioContext</code>, <code>stream</code> and <code>soundMeter</code> variables are in global scope, so you can inspect them from the console.</p>

</div>

<script src=" http://webrtc.github.io/adapter/adapter-latest.js"></script>
<script src="/js/trace.js"></script>
<script src="/js/soundmeter.js"></script>
<script src="/js/debug.js"></script>
