<div class="o-bubble" data-type="question">
  <div class="o-bubble__inner">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur voluptatibus, adipisci beatae ratione commodi.</p>
  </div>
</div>

<div class="o-bubble" data-type="answer">
  <div class="o-bubble__inner">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur voluptatibus, adipisci beatae ratione commodi.</p>
  </div>
</div>
<div class="o-bubble" data-type="question">
  <div class="o-bubble__inner">
    <p>Lorem ipsum dolor.</p>
  </div>
</div>
<div class="o-bubble" data-type="answer">
  <div class="o-bubble__inner">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur voluptatibus, adipisci beatae ratione commodi.</p>
  </div>
</div>
<div class="o-bubble" data-type="answer">
  <div class="o-bubble__inner">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
  </div>
</div>
<div class="o-bubble" data-type="answer">
  <div class="o-bubble__inner">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur voluptatibus, adipisci beatae ratione commodi.</p>
  </div>
</div>
<div class="o-bubble" data-type="question">
  <div class="o-bubble__inner">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur voluptatibus, adipisci beatae ratione commodi.</p>
  </div>
</div>
<div class="o-bubble" data-type="answer">
  <div class="o-bubble__inner">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur voluptatibus, adipisci beatae ratione commodi.</p>
  </div>
</div>
<div class="o-bubble" data-type="question">
  <div class="o-bubble__inner">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur voluptatibus, adipisci beatae ratione commodi.</p>
  </div>
</div>
<div class="o-bubble" data-type="answer">
  <div class="o-bubble__inner">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur voluptatibus, adipisci beatae ratione commodi.</p>
  </div>
</div>
