<div class="o-bubble" data-type="question">
  <div class="o-bubble__inner">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur voluptatibus, adipisci beatae ratione commodi.</p>
  </div>
  <img src="images/hauke.jpg" alt="" class="o-avatar o-avatar--small">
</div>

<div class="o-bubble" data-type="question">
  <div class="o-bubble__inner">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt recusandae esse explicabo aut corrupti labore totam modi earum, ipsum dolores perspiciatis quam repudiandae inventore dolor ullam dicta maiores quos molestiae.</p>
  </div>
  <div class="o-bubble__footer">
    <button class="o-button o-button--plain">Völlig richtig</button>
    <button class="o-button o-button--plain">Leider falsch</button>
  </div>
</div>
<div class="o-bubble" data-type="question">
  <img src="http://t3ncdn.imgix.net/bf90fa229e9b84850a2ecbe570987335dd250329/smartsteuer-GmbH_hero-1200x400.png?auto=format&fit=max&fm=jpg&ixlib=php-1.1.0&w=1200&s=f16345f9cb7758b1ce0fd8678648354c" alt="">
  <div class="o-bubble__inner">
    <p>Ich bin beruflich ja auch Musiker. Was machst du so? Studium? Fester Job? Arbeitslos?</p>
  </div>
  <div class="o-bubble__footer">
    <button class="o-button o-button--plain">Arbeitnehmer</button>
    <button class="o-button o-button--plain">Selbstständig</button>
    <button class="o-button o-button--plain">Minijob</button>
    <button class="o-button o-button--plain">Arbeitslos</button>
  </div>
</div>

<div class="o-bubble" data-type="answer">
  <div class="o-bubble__inner">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur voluptatibus, adipisci beatae ratione commodi.</p>
  </div>
  <img src="images/default-avatar.jpg" alt="" class="o-avatar o-avatar--small">
</div>
<div class="o-bubble" data-type="question">
  <div class="o-bubble__inner">
    <p>Lorem ipsum dolor.</p>
  </div>
  <img src="images/hauke.jpg" alt="" class="o-avatar o-avatar--small">
</div>
<div class="o-bubble" data-type="answer" data-collection="true">
  <div class="o-bubble__inner">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur voluptatibus, adipisci beatae ratione commodi.</p>
  </div>
  <img src="images/default-avatar.jpg" alt="" class="o-avatar o-avatar--small">
</div>
<div class="o-bubble" data-type="answer" data-collection="true">
  <div class="o-bubble__inner">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
  </div>
  <img src="images/default-avatar.jpg" alt="" class="o-avatar o-avatar--small">
</div>
<div class="o-bubble" data-type="answer">
  <div class="o-bubble__inner">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur voluptatibus, adipisci beatae ratione commodi.</p>
  </div>
  <img src="images/default-avatar.jpg" alt="" class="o-avatar o-avatar--small">
</div>
<div class="o-bubble" data-type="question">
  <div class="o-bubble__inner">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur voluptatibus, adipisci beatae ratione commodi.</p>
  </div>
  <img src="images/hauke.jpg" alt="" class="o-avatar o-avatar--small">
</div>
<div class="o-bubble" data-type="answer">
  <div class="o-bubble__inner">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur voluptatibus, adipisci beatae ratione commodi.</p>
  </div>
  <img src="images/default-avatar.jpg" alt="" class="o-avatar o-avatar--small">
</div>
<div class="o-bubble" data-type="question">
  <div class="o-bubble__inner">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur voluptatibus, adipisci beatae ratione commodi.</p>
  </div>
  <img src="images/hauke.jpg" alt="" class="o-avatar o-avatar--small">
</div>
<div class="o-bubble" data-type="answer">
  <div class="o-bubble__inner">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur voluptatibus, adipisci beatae ratione commodi.</p>
  </div>
  <img src="images/default-avatar.jpg" alt="" class="o-avatar o-avatar--small">
</div>
