<!DOCTYPE html>
<html dir="ltr" lang="de-DE">
  <head>
    <title>{{title}}</title>
    <meta name="description" content="DESCRIPTION">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="handheldfriendly" content="true">
    <meta name="robots" content="index, follow">

    <link rel="author" href="humans.txt">
    <link rel="icon" href="favicon.png" sizes="16x16" type="image/png">

    <link rel='stylesheet' href='/css/application.css'>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
