<!DOCTYPE html>
<html dir="ltr" lang="de-DE">
<head>
    <title>{{title}}</title>
    <meta name="description" content="HaukePI WebRTC">
    <meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1, maximum-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="handheldfriendly" content="true">
    <meta name="robots" content="index, follow">

    <link rel="author" href="humans.txt">
    <link rel="icon" href="/favicon.png" sizes="16x16" type="image/png">

    <link rel='stylesheet' href='/stylesheets/application.css'>
</head>
<body>
  <div class="l-chat">
    <div class="l-chat__scrollable">
      <header class="l-chat__banner" role="banner">
        <div class="l-chat__banner__constrained">
          <img src="images/hauke.jpg" alt="" class="o-avatar">
          <a href="#" class="o-button">Frage?</a>
        </div>
      </header>
      <main role="main" class="l-chat__main">
        {{{body}}}
      </main>
    </div>
    <footer role="contentinfo" class="l-chat__contentinfo">
      <div class="l-constrained">
        <form action="" class="o-form o-form--answer">
          <button type="button" class="o-form__sound-input" id="ui-record">AUDIOINPUT</button>
          <textarea name="" id="" placeholder="Text eingeben" class="o-form__answer"></textarea>
          <button type="submit" class="o-button o-button--plain">Senden</button>

          <div class="o-form__sound-record" id="ui-sound-record-animation">
            <img src="http://i481.photobucket.com/albums/rr176/GarnetHuntress/animated-sound-waves.gif" alt="">
          </div>
        </form>
      </div>
    </footer>
  </div>
</body>
</html>
