<h1>Was du nich sachst!</h1>

<div id="results">
    <span id="final_span" class="final"></span>
    <span id="interim_span" class="interim"></span>
    <p>
</div>

<script src="/js/speech2text.js"></script>